{% extends "base.html" %}
{% block content %}
<h2>Liste des conférences</h2>

<a href="{% url 'add_conference' %}">Ajouter une conférence</a>

<table border="1">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Lieu</th>
      <th>Date de début</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% if conferences %}
      {% for c in conferences %}
        <tr>
          <td>{{ c.name }}</td>
          <td>{{ c.location }}</td>
          <td>{{ c.start_date }}</td>
          <td>
            <a href="{% url 'conference_details' c.pk %}">Détails</a> |
            {%if user.is_authenticated and user.role == "commitee" %}
            <a href="{% url 'update_conference' c.pk %}">Modifier</a> |
            <a href="{% url 'delete_conference' c.pk %}">Supprimer</a>
            {%endif %}
          </td>
        </tr>
      {% endfor %}
    {% else %}
      <tr>
        <td colspan="4">Aucune conférence trouvée.</td>
      </tr>
    {% endif %}
  </tbody>
</table>
{% endblock %}